#app-header-view {
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0px 20px rgba(116, 116, 116, 0.25);
  border-bottom: 1px solid #D9E0E6;
  font-family: 'SF-Display-Thin', sans-serif;
  display: flex;
  .main-section {
    flex: 1;
    .company-logo {
      height: 40px;
      margin: 10px;
      max-width: 20%;
      margin-left: 30px;
    }
    .search-container {
      float: right;
      display: flex;
      height: 100%;
      align-items: center;
      margin-right: 50px;
      width: 30%;
      .search-icon {
        color: #949494;
      }
      .search-input {
        width: 100%;
      }
    }
  }
  .account-section {
    width: 250px;
    background: #7D68A3;
    height: 100%;
    color: #fff;
    position: relative;
    z-index: 1;
    .avatar {
      height: 60px;
      margin-right: 15px;
      float: left;
    }
    .text-section {
      display: flex;
      align-items: center;
      height: 100%;
      .expand {
        transform: rotate(0deg);
        transition: transform .1s;
        margin-left: 10px;
      }
      .expandOpen {
        transform: rotate(180deg);
      }
      button {
        color: #fff;
      }
      .hi-text {
        color: #CFC7FF;
      }
    }
    .dropdown {
      background: #7d68a3;
      margin-left: 60px;
      .card-content {
        padding: 15px;
        padding-top: 0px;
        .button {
          background-color: inherit;
          width: 100%;
          text-align: left;
          font-family: 'SF-Display-Thin', sans-serif;
          padding: 0;
          justify-content: flex-start;
          p {
            font-size: 14px;
            color: #CFC7FF;
          }
        }
        .button:last-child {
          margin-bottom: -10px;
        }
        .devider {
          background-color: #9584BE;
        }
      }
    }
  }
}
