#header-mobile-view {
  .app-bar {
    background-color: #7D68A3;
    .toolbar {
      justify-content: space-between;
      min-height: 56px;
      .info-block {
        display: flex;
        align-items: center;
        .location {
          text-transform: uppercase;
        }
      }
    }
  }
  .main-fab-btn {
    background-color: #5bc2a8;
    color: #fff;
    z-index: 1000;
    position: fixed;
    bottom: 80px;
    right: 20px;
    .add-icon {
      transform: rotate(0deg);
      transition: transform .1s;
    }
  }
  .main-fab-btn-opened {
    visibility: hidden;
    .add-icon {
      transform: rotate(135deg);
    }
  }
}
#app-header-drawer {
  background-color: #E4EBF3;
  .account-section {
    background: #7D68A3;
    height: 60px;
    color: #fff;
    position: relative;
    .avatar {
      height: 60px;
      margin-right: 15px;
      float: left;
    }
    .text-section {
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: space-between;
      .hi-text {
        color: #CFC7FF;
      }
    }
  }
  .expand {
    transform: rotate(0deg);
    transition: transform .1s;
  }
  .expandOpen {
    transform: rotate(180deg);
  }
}
