#client-details-container {
  padding: 20px;
  .breadcrumbs-view {

  }
  #details-container {
    #client-tab-container {
      background-color: #fff;
      border-radius: 5px;
      height: calc(100vh - 140px);
      box-shadow: 0 5px 35px rgba(116,116,116,.25);
      .horizontal-tabs {
        .tab {
          min-width: auto;
        }
      }
      .tab-view-container {
        position: relative;
        height: calc(100% - 49px);
        overflow: auto;
      }
    }
  }
  @media (max-width: 599px) {
    h1 {
      font-size: 16px;
    }
    #details-container {
      #client-tab-container {
        .tab-view-container {
          width: calc(100% - 50px);
        }
      }
    }
  }
}
#client-details-mobile-container {
  .horizontal-tabs {
    background-color: #7d68a3;
    color: #fff;
    height: 40px;
    .tab {
      min-width: auto;
      font-family: 'SF-Display-Light', sans-serif;
      letter-spacing: 1px;
    }
  }
  .tab-view-container {
    position: relative;
    height: calc(100% - 49px);
    overflow: auto;
  }
}
