#services-filters {
  .flex-columns {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: calc(100% - 150px);
    div.filter-column {
      flex: 1;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .col-wrap {
        display: inline-block;
        .form-control {
          margin-right: 10px;
          .select {
            min-width: 120px;
            font-size: 13px;
          }
          label {
            font-size: 13px;
          }
          p.search-by {
            font-size: 13px;
            color: #757575;
            margin-top: 22px;
            margin-bottom: 9px;
          }
        }
        .wide {
          margin-right: 0px;
          .select {
            min-width: 220px;
            font-size: 13px;
          }
        }
        .date-range-form {
          display: flex;
          margin-top: 5px;
          width: 235px;
          .date-range-view {
            display: flex;
            .react-datepicker-wrapper {
              margin-right: 20px;
              font-size: 13px;
              width: 100px;
              input {
                font-size: 13px;
              }
            }
          }
        }
        .engagements-control {
          margin-top: 4px;
          width: 235px;
          .number-range {
            display: flex;
            margin-top: 0px;
            .number {
              margin-right: 20px;
              font-size: 13px;
              width: 100px;
              input[type=number]::-webkit-inner-spin-button,
              input[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
              input {
                font-size: 13px;
              }
            }
          }
        }
        .controlled-label {
          font-size: 12px;
          color: #757575;
          display: flex;
          align-items: center;
          .radio-group {
            display: inline-block;
            margin-left: 15px;
            .control-label {
              p {
                color: #757575;
                font-size: 12px;
              }
            }
            .radio-btn {
              width: 25px;
              height: 25px;
              font-size: 12px;
              color: #757575;
            }
          }
        }
      }
    }
  }
  .filter-actions {
    width: 150px;
    float: right;
    box-sizing: border-box;
    padding-left: 10px;
    .filter-btn {
      margin-top: 20px;
      width: 100%;
      height: 40px;
      font-size: 14px;
    }
    .reset-btn {
      margin-top: 33px;
      width: 100%;
      height: 40px;
      background-color: #E0E3EA;
      letter-spacing: 3px;
      font-size: 14px;
    }
    .reset-btn:hover {
      background-color: #d5d8de;
    }
  }
}
