.root-not-found {
  height: 100vh;
  .container {
    position: relative;
    .devider {
      border-bottom: 1px solid #d7deee;
      position: absolute;
      left: 40px;
      right: 40px;
      top: 70px;
    }
    .form-container {
      background: linear-gradient(rgba(244,244,244,0) 35%, rgba(244,244,244,1));
      height: calc(100% - 60px);
      margin-top: 20px;
      justify-content: center;
      align-items: center;
      overflow: auto;
      .calculator {
        background-image: url('../../static/images/calculator.png');
        background-size: contain;
        height: 80vh;
        float: right;
        width: 35vw;
        background-position: right;
        background-repeat: no-repeat;
        margin-top: 30px;
      }
      .right-side {
        max-height: calc(100vh - 40px);
        p.error-number {
          font-family: 'SF-Display-Heavy', sans-serif;
          color: #fff;
          font-size: 180px;
          text-shadow: 0px 0px 50px #E4E5E7;
          margin: 0;
          padding: 0;
        }
        .error-text-block {
          padding-left: 70px;
          h1 {
            font-size: 28px;
            margin-top: 0px;
          }
          .tip {
            color: #8991A8;
          }
          .go-back-btn {
            width: 260px;
            height: 65px;
            margin-top: 20px;
          }
        }
        @media (max-width: 768px) {
          text-align: center;
          p.error-number {
            font-size: 80px;
          }
          .error-text-block {
            padding-left: 0px;
          }
        }
      }
    }
  }
}
