#side-menu-view {
  background-color: #E4EBF3;
  min-width: 100px;
  width: 100px;
  text-align: center;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .menu-inner-view {
    width: 100%;
    .square-logo {
      width: 35px;
      margin: 10px;
      margin-bottom: 20px;
      cursor: pointer;
    }
    .menu-component {
      position: relative;
      .menu-item {
        width: 100%;
        height: 70px;
        background-color: inherit;
        position: relative;
      }
      .submenu-container {
        position: absolute;
        left: 100px;
        top: 0;
        .submenu {
          visibility: hidden;
          opacity: 0;
          transition: visibility 0s, width 0.2s, opacity 0.2s linear;
          position: absolute;
          top: 0;
          z-index: -1;
          padding: 0 20px;
          overflow: hidden;
          font-family: 'SF-Display-Light', sans-serif;
          color: #353B53;
          text-align: left;
          width: 90px;
          cursor: default;
          h4 {
            cursor: pointer;
            margin: 10px 0px;
            margin-top: 25px;
          }
          p {
            cursor: pointer;
            font-size: 12px;
          }
          h4:hover,p:hover {
            color: #7D68A3;
          }
        }
        .submenu.invisible {
          position: fixed;
          top: auto;
          bottom: 0px;
        }
        .submenu:hover {
          display: block;
        }
      }
      .menu-item.active {
        background: #fff;
        border-left: 3px solid #7D68A3;
        transition: background-color .5s ease-out;
      }
    }
    .menu-component:hover {
      .menu-item {
        background: #fff;
        border-left: 3px solid #7D68A3;
        transition: background-color .5s ease-out;
      }
      .submenu {
        visibility: visible;
        opacity: 1;
        width: 110px;
      }
    }
  }
  .main-fab-btn {
    background-color: #5bc2a8;
    color: #fff;
    position: fixed;
    bottom: 30px;
    left: 70px;
    .add-icon {
      transform: rotate(0deg);
      transition: transform .1s;
    }
  }
  .main-fab-btn-opened {
    visibility: hidden;
    .add-icon {
      transform: rotate(135deg);
    }
  }
}
