#fab-container {
  position: fixed;
  bottom: 0;
  background: rgba(81, 67, 107, 0.7);
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  .fabs-block {
    position: absolute;
    bottom: 30px;
    left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .small-fabs {
      display: flex;
      flex-direction: column;
      .small-fab-item {
        position: relative;
        .small-btn {
          height: 40px;
          width: 40px;
          margin-bottom: 20px;
        }
        .fab-text {
          position: absolute;
          top: -5px;
          left: 60px;
          width: 140px;
          text-align: left;
          color: #fff;
          font-family: 'SF-Display-Thin', sans-serif;
          cursor: pointer;
        }
      }
    }
    @media (max-width: 959px) {
      right: 20px;
      left: auto;
      .small-fabs {
        .small-fab-item {
          .fab-text {
            right: 60px;
            left: auto;
            text-align: right;
          }
        }
      }
    }
    .main-fab-btn {
      background-color: #5bc2a8;
      color: #fff;
    }
    .main-btn-opened {
      color: #fff;
      transform: rotate(45deg);
      background-color: #FF648C;
    }
    .main-btn-icon-appear {
      transform: rotate(0deg);
      transition: transform .1s;
    }
    .main-btn-icon-appear.main-btn-icon-appear-active {
      transform: rotate(90deg);
    }
    .small-fabs-appear {
      opacity: 0.01;
    }

    .small-fabs-appear.small-fabs-appear-active {
      opacity: 1;
      transition: opacity .4s ease-in;
    }
  }
}
