.vertical-tabs {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #E6EFF6;
  width: 105px;
  min-height: 100%;
  overflow: auto;
  z-index: 1;
  .menu-item {
    font-size: 14px;
    background-color: inherit;
    font-family: 'SF-Display-Light', sans-serif;
    padding: 5px 0px;
    min-height: 40px;
    svg {
      color: #9499ad;
    }
  }
  .menu-item:hover, .menu-item.active {
    background: #fff;
    border-left: 2px solid #7D68A3;
    transition: background-color .5s ease-out;
    svg {
      color: initial;
    }
  }
  @media (max-width: 599px) {
    width: 50px;
  }
}
