.root-setup {
  height: 100vh;
  .right-side {
    position: relative;
    .devider-right {
      border-bottom: 1px solid #d7deee;
      position: absolute;
      left: 40px;
      right: 40px;
      top: 70px;
    }
    .logo {
      margin-top: 15px;
      margin-left: 40px;
    }
    .sign-out-btn {
      position: absolute;
      right: 40px;
      top: 15px;
      color: #5BC2A8;
      font-size: 18px;
      .log-out-icon {
        margin-left: 10px;
      }
    }
    .sign-out-btn:hover {
      background-color: inherit;
    }
    .setup-container {
      height: calc(100% - 70px);
      overflow: auto;
      margin-top: 78px;
      padding: 0 8px;
      margin-right: -8px;
      margin-left: -8px;
      @media (max-width: 959px) {
        margin-top: 0px;
        height: 100%;
        .form-view {
          padding: 0 10px;
        }
      }
      .next-btn-view {
        display: flex;
        align-self: flex-end;
        justify-content: flex-end;
        .next-step-btn, .previous-step-btn {
          width: 260px;
          height: 65px;
          font-size: 18px;
          margin-bottom: -16px;
          margin-right: -8px;
        }
      }
    }
  }
}
