#clients-container {
  padding: 20px;
  .paper {
    padding: 20px;
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .filters-paper.active {
    max-height: fit-content;
    visibility: visible;
    padding: 15px 25px;
    padding-bottom: 20px;
    opacity: 1;
    transition: opacity 0.7s ease-out, max-height 0.4s ease-out;
    overflow: visible;
  }
  .filters-paper {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
  }
  .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      margin-top: 10px;
      color: #7d68a3;
    }
    .filter-view {
      display: flex;
      align-items: center;
      .filtered-by {
        color: #9499AD;
        font-family: 'SF-Display-Thin', sans-serif;
        margin-left: 20px;
        font-size: 14px;
      }
      .filter-btn {
        color: #5bc2a8;
      }
    }
  }
}

#invite-dialog {
  button {
    letter-spacing: 1px;
  }
  .invite-btn {
    color: #5bc2a8;
  }
}
