.step-two-content,
.step-one-content,
.staff-step-content {
    display: flex;
    height: 100%;
    .form-view {
      padding: 40px;
      padding-top: 10px;
      .two-inputs-inline {
        display: flex;
        justify-content: space-between;
        .form-control {
          width: 45%;
        }
      }
      .form-control {
        margin: 10px 0;
        .domain-input {
          input {
            width: calc(100% - 90px)
          }
        }
        .domain {
          position: absolute;
          top: 21px;
          right: 5px;
          color: #757575;
        }
        .label:first-letter {
          text-transform: uppercase;
        }
      }
      .form-control.phone {
        height: 45px;
      }
      .form-control.country {
        margin-top: 15px;
      }
      .next-step-btn {
        width: 100%;
        height: 65px;
        margin-top: 20px;
      }
      .next-step-btn:hover {
        background-color: #53b39b;
      }
      p.label {
        color: #757575;
        font-size: 12px;
      }
    }
    @media (max-width: 959px) {
      .form-view {
        padding: 25px;
        p.label {
          font-size: 10px;
        }
      }
    }
  }
