#clients-filters-mobile {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 57px;
  left: 0px;
  right: 0px;
  padding-top: 4px;
  min-height: calc(100vh - 61px);
  .filter-view {
    justify-content: flex-end;
    width: 90%;
    .filter-switch {
      justify-content: flex-end;
    }
  }
  .reset-btn {
    width: 90%;
    height: 35px;
    background-color: #E0E3EA;
    letter-spacing: 3px;
    font-size: 14px;
    box-shadow: none;
    margin-bottom: 10px;
  }
  .filter-line {
    width: 90%;
    .filter-toggle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 16px;
      overflow: hidden;
      align-items: center;
      margin-top: 10px;
      p {
        margin: 0;
      }
      .expand {
        transform: rotate(0deg);
        transition: transform .1s;
        align-self: flex-start;
        margin-right: -12px;
        height: 40px;
        width: 40px;
      }
      .expandOpen {
        transform: rotate(180deg);
        color: #5bc2a8;
      }
    }
    .filtered-by  {
      font-size: 12px;
      color: #999999;
      margin: 0;
      margin-top: -5px;
    }
  }

  .filter-block {
    width: 90%;
    margin-top: -10px;
    .filter-btn {
      margin-top: 10px;
      width: 100%;
      height: 35px;
      font-size: 14px;
    }
    .cancel-btn {
      width: 100%;
      margin-top: 10px;
      height: 35px;
      background-color: #E0E3EA;
      letter-spacing: 3px;
      font-size: 14px;
      box-shadow: none;
    }
    .date-range-form {
      width: 100%;
      margin-top: 10px;
      .date-range-view {
        .react-datepicker-wrapper {
          font-size: 14px;
          width: 100%;
          margin-bottom: 5px;
          div {
            width: 100%;
          }
          input {
            font-size: 14px;
          }
        }
      }
    }
    .engagements-control {
      margin-top: 10px;
      width: 100%;
      .number-range {
        .number {
          font-size: 14px;
          width: 100%;
          margin-bottom: 5px;
          input[type=number]::-webkit-inner-spin-button,
          input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
          input {
            font-size: 14px;
          }
        }
      }
    }
    .controlled-label {
      font-size: 14px;
      color: #757575;
      display: flex;
      align-items: center;
      .radio-group {
        display: inline-block;
        margin-left: 20px;
        .control-label {
          margin-right: 20px;
          p {
            color: #757575;
            font-size: 14px;
          }
        }
        .radio-btn {
          width: 25px;
          height: 25px;
          font-size: 18px;
          //color: #757575;
        }
      }
    }
  }

  .form-control {
    width: 100%;
    margin: 5px 0;
    .select {
      min-width: 100%;
      font-size: 16px;
    }
    label {
      font-size: 14px;
    }
    p.search-by {
      font-size: 13px;
      color: #757575;
      margin-top: 22px;
      margin-bottom: 9px;
    }
    .search-view {
      margin-top: 5px;
    }
  }
}
