#clients-list-mobile {
  margin: 0 -5px;
  margin-top: -15px;
  .filter-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    .filtered-by {
      font-size: 14px;
      color: #999999;
    }
    .filter-switch {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #5bc2a8;
      min-width: 133px;
      justify-content: flex-end;
      .filter-icon {
        margin-left: 5px;
      }
    }
  }
  .client-card {
    background-color: #fff;
    width: 100%;
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 0px rgba(193, 198, 209, 0.35);
    border-radius: 5px;
    margin-bottom: 10px;
    .info-view {
      display: flex;
      align-items: center;
      .avatar-view {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
        margin-top: 15px;
        overflow: hidden;
        .avatar {
          div {
            font-family: 'SF-Display-Light', sans-serif !important;
          }
        }
      }
      .client-info {
        flex: 1;
        padding: 5px;
        padding-top: 0px;
        .name-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin-top: 3px;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 16px;
            color: #343b51;
          }
          .expand {
            transform: rotate(0deg);
            transition: transform .1s;
            width: 35px;
            height: 35px;
            align-self: flex-start;
          }
          .expandOpen {
            transform: rotate(180deg);
            color: #5bc2a8;
          }
        }
        .client-date {
          font-size: 14px;
          color: #999999;
        }
      }
    }
    .collapsed-view {
      display: flex;
      .info-table {
        color: #999999;
        font-size: 14px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        td:first-child {
          .icon {
            margin-right: 15px;
            margin-top: -2px;
          }
        }
        td {
          padding: 5px;
        }
      }
    }
    .actions {
      display: flex;
      justify-content: flex-end;
      button {
        min-width: auto;
        color: #5bc2a8;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 10px;
      }
      button:disabled {
        color: #999999;
      }
    }
    .actions.view-more {
      align-items: center;
      justify-content: center;
    }
  }
  #mobile-filters {
    background-color: #fff;
    width: 100%;
    padding: 15px;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 0px rgba(193, 198, 209, 0.35);
    border-radius: 5px;
    margin-bottom: 10px;
    p {
      text-align: center;
      margin: 0;
      font-size: 16px;
      color: #5bc2a8;
    }
    .sort-view {
      display: flex;
      justify-content: space-between;
      .form-control {
        margin-top: 8px;
        margin-bottom: 8px;
        .select {
          min-width: 75px;
        }
      }
    }
    .filter-by-view {
      .form-control {
        margin-top: 8px;
        margin-bottom: 8px;
      }
      .date-range-form {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .react-datepicker-wrapper {
          font-size: 14px;
        }
      }
    }
    .form-control {
      .select-item {
        font-size: 14px;
      }
      label {
        font-size: 14px;
      }
    }
    .filter-actions {
      display: flex;
      justify-content: center;
      button {
        letter-spacing: 1px;
        font-size: 16px;
      }
      .filter-btn {
        color: #5bc2a8;
      }
    }
  }
}
