@font-face {
  font-family: 'SF-Display-Black';
  src: url('../fonts/SF-UI-Display-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Bold';
  src: url('../fonts/SF-UI-Display-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Heavy';
  src: url('../fonts/SF-UI-Display-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Light';
  src: url('../fonts/SF-UI-Display-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Medium';
  src: url('../fonts/SF-UI-Display-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Regular';
  src: url('../fonts/SF-UI-Display-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Semibold';
  src: url('../fonts/SF-UI-Display-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Thin';
  src: url('../fonts/SF-UI-Display-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Display-Ultralight';
  src: url('../fonts/SF-UI-Display-Ultralight.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Bold';
  src: url('../fonts/SF-UI-Text-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-BoldItalic';
  src: url('../fonts/SF-UI-Text-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Heavy';
  src: url('../fonts/SF-UI-Text-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-HeavyItalic';
  src: url('../fonts/SF-UI-Text-HeavyItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Italic';
  src: url('../fonts/SF-UI-Text-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Light';
  src: url('../fonts/SF-UI-Text-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-LightItalic';
  src: url('../fonts/SF-UI-Text-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Medium';
  src: url('../fonts/SF-UI-Text-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-MediumItalic';
  src: url('../fonts/SF-UI-Text-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Regular';
  src: url('../fonts/SF-UI-Text-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-Semibold';
  src: url('../fonts/SF-UI-Text-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'SF-Text-SemiboldItalic';
  src: url('../fonts/SF-UI-Text-SemiboldItalic.ttf') format('truetype');
}
