@import "./variables.scss";
@import "~react-select/dist/react-select.css";

body {
  font-family: 'SF-Display-Light', sans-serif;
  margin-bottom: 0;
  letter-spacing: 0.05em;
  a {
    color: #5BC2A8;
    text-decoration: underline;
    cursor: pointer;
  }
  a:hover {
    color: #53b39b;
  }
  h1 {
    font-family: 'SF-Display-Thin', sans-serif;
    color: #353B53;
  }
  h1,h2,h3,h4,h5 {
    color: #353B53;
  }
  .form-control {
    margin: 15px 0;
  }
  .btn {
    font-family: 'SF-Display-Light', sans-serif;
    letter-spacing: 1px;
  }
  .green-btn {
    background-color: #5BC2A8;
    color: #fff;
    font-family: 'SF-Display-Light', sans-serif;
    font-size: 18px;
    letter-spacing: 1px;
  }
  .green-btn:hover {
    background-color: #53b39b;
  }
  .green-btn:disabled {
    background-color: #8DB8AD;
  }

  @media (max-width: 959px) {
    .form-control {
      font-size: 12px;
    }
  }
  .masked-input {
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 7px 0;
    display: block;
    background: none;
    box-sizing: content-box;
    font-family: SF-Display-Light, sans-serif;
    vertical-align: middle;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    margin-top: 12px;
    z-index: 10;
    font-size: 14px;
  }
  .masked-input::placeholder {
    visibility: hidden;
    color: #9e9e9e;
    font-family: SF-Display-Thin, sans-serif;
    letter-spacing: normal;
  }

  .masked-input:focus::placeholder {
    visibility: visible;
  }

  .masked-input:hover {
    border-bottom: 2px solid #7d68a3;
  }
  .masked-input:focus {
    outline: 0;
    border-bottom: 2px solid #5BC2A8;
    letter-spacing: 4px;
  }
  .masked-input:disabled {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.42);
    color: #9e9e9e;
  }
  .masked-input:disabled:hover {
    border-bottom: 1px solid #7d68a3;
  }
  .loadingBar {
    background-color: #5bc2a8;
    height: 2px;
    z-index: 10;
    position: absolute;
  }
  .pale {
    color: #9499AD;
  }
  .page-breadcrumbs {
    display: flex;
    align-items: center;
    margin-top: 0;
    color: #353B53;
    .right-icon {
      font-size: 20px;
    }
    span {
      color: #9499AD;
    }
  }
  .pagination {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    li {
      float: left;
      margin: 10px;
      a {
        color: #9499AD;
        outline: none;
        text-decoration: none;
      }
    }
    li:first-child {
      margin-right: 0px;
    }
    li:last-child {
      margin-left: 0px;
    }
    li.disabled {
      button {
        color: rgba(0, 0, 0, 0.26);
        pointer-events: none;
      }
    }
    .active {
      a {
        color: #5bc2a8;
      }
    }
  }
  .require-asterisk {
    //color: #ff1744;
  }
  #delete-dialog {
    button {
      letter-spacing: 1px;
    }
    .delete-btn {
      color: #5bc2a8;
    }
  }
  .delete-btn {
    color: #5bc2a8;
  }
  .cancel-btn {
    color: #999999;
  }
}
