.setup-header-view {
  position: relative;
  display: flex;
  justify-content: space-between;
  .square-logo {
    min-height: 50px;
    max-height: 50px;
    margin: 15px;
  }
  .logout-icon {
    margin: 15px;
  }
  .setup-header-text {
    text-align: center;
    margin: 0 auto;
    p {
      color: #8991A8;
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 18px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .devider {
    position: absolute;
    left: -8px;
    right: -8px;
    bottom: 0;
    box-shadow: 0 5px 35px rgba(116,116,116,.25);
    height: 100%;
    background-color: #fff;
    z-index: -1;
  }
}
