.avatar-editor-dialog {
  .title {
    h2 {
      font-family: 'SF-Display-Light', sans-serif;
      color: #353B53;
      text-align: center;
    }
  }
  .avatar-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    canvas {
      cursor: move;
    }
    .zoom-control {
      width: 100%;
      input {
        width: 100%;
      }
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
  .crop-btn {
    color: #5bc2a8;
  }
}
