#billing-tab {
    .billing-header {
        color: #7D6AA1;
        font-size: 18px;
        font-family: 'SF-Display-Light', sans-serif;
        margin: 0;
    }
    .billing-content {
        .left-side {
            padding-right: 40px;
            .two-inputs-line {
                display: flex;
                justify-content: space-between;
                .quantity-input {
                    margin-left: 20px;
                }
            }
            .tip {
                font-size: 14px;
                color: #9EA5B8;
            }
          @media (max-width: 959px) {
            padding-right: 0px;
          }
        }
        .right-side {
            padding-left: 40px;
            .description-view {
                background-color: #F6F7FB;
                padding: 5px 20px;
                border-radius: 5px;
                border-bottom: 1px solid #e0e0e0;
                .description-label {
                    color: #9EA5B8;
                    font-size: 14px;
                    margin-bottom: 0px;
                    margin-top: 10px;
                }
                .description-text {
                    margin-top: 10px;
                }
            }
            @media (max-width: 959px) {
              padding-left: 0px;
              margin-top: 20px;
              .description-view {
                padding: 5px 10px;
                .description-text {
                    font-size: 14px;
                }
                .description-label {
                  font-size: 12px;
                }
              }
            }
        }
      .total-value {
          font-size: 18px;
          color: #9EA5B8;
          margin-top: 30px;
          margin-bottom: 5px;
          .total-price {
              color: #7D6AA1;
              font-family: 'SF-Display-Regular', sans-serif;
          }
          @media (max-width: 959px) {
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 0px;
            width: 100%;
            text-align: right;
          }
      }
    }
}
