#scope-tab {
    .scope-header {
        color: #7D6AA1;
        font-size: 18px;
        font-family: 'SF-Display-Light', sans-serif;
        margin: 0;
    }
    .service-name-input {
        margin-bottom: 20px;
    }
}
