#tasks-tab {
  margin-top: -20px;
  @media (max-width: 959px) {
    margin-top: 0px;
  }
  .horizontal-tabs {
    margin: 0 20px;
    .tab {
      color: #7d68a3;
    }
  }
  .table-wrapper {
    overflow: auto;
    max-height: calc(50vh - 175px);
    margin-bottom: 65px;
    #table-body {
      tr {
        height: 35px;
        td {
          border: none;
        }
      }
      .action-cell {
        text-align: right;
        .icon-btn {
          width: 30px;
          height: 30px;
          svg {
            height: 18px;
            width: 18px;
          }
          .green-icon {
            color: #5bc2a8;
          }
        }
        .icon-btn:hover {
          color: #8b95ad;
          .green-icon {
            color: #8b95ad;
          }
        }
      }
      .check-icon {
        color: #5bc2a8;
        margin-left: 5px;
        height: 20px;
        width: 20px;
      }
    }
    #table-head {
      .checkbox-cell {
        width: 30px;
      }
      tr {
        height: 35px;
      }
    }
    .empty-tasks-tip {
      text-align: center;
      color: #7d68a3;
    }
  }
  .new-task-form {
    position: absolute;
    border-top: 1px solid #e0e0e0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0px 20px 0px rgba(116, 116, 116, 0.25);
    padding: 0px 40px;
    .task-name {
      flex: 0.4;
    }
    .repeat-select {
      flex: 0.3;
    }
  }
  #mobile-tasks-view {
    max-height: calc(100vh - 125px);
    overflow: auto;
    margin-right: -20px;
    padding-right: 20px;
    margin-bottom: -10px;
    .filter-view {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      .filtered-by {
        font-size: 14px;
        color: #9499AD;
      }
      .filter-switch {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: #5bc2a8;
        .filter-icon {
          margin-left: 5px;
        }
      }
    }
    .task-card {
      background-color: #fff;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 1px 1px 20px 0px rgba(193, 198, 209, 0.35);
      border-radius: 5px;
      margin-bottom: 10px;
      .info-view {
        display: flex;
        // .checkbox-view {
        //   width: 50px;
        //   .check-icon {
        //     color: #5bc2a8;
        //     margin: 10px;
        //   }
        // }
        .task-info {
          flex: 1;
          padding: 10px;
          p {
            margin-top: 3px;
            margin-bottom: 5px;
            font-weight: 600;
          }
          .task-date {
            font-size: 12px;
            color: #9499AD;
          }
        }
      }
      .actions {
        display: flex;
        justify-content: flex-end;
        button {
          min-width: auto;
        }
      }
    }
    .add-task-fab {
      position: fixed;
      bottom: 50px;
      right: 20px;
      background-color: #5bc2a8;
    }
  }
}

.delete-task-dialog {
  #table-head {
    tr {
      height: 40px;
    }
  }
  .info-view {
    display: flex;
    // .checkbox-view {
    //   width: 50px;
    //   .check-icon {
    //     color: #5bc2a8;
    //     margin: 10px;
    //   }
    // }
    .task-info {
      flex: 1;
      padding: 10px;
      min-width: 45vw;
      p {
        margin-top: 3px;
        margin-bottom: 5px;
        font-weight: 600;
      }
      .task-date {
        font-size: 12px;
        color: #9499AD;
      }
    }
  }
  .delete-mobile-header {
    font-size: 14px;
    margin: 10px 24px;
    color: #7d68a3;
    margin-top: 30px;
  }
  .delete-btn {
    color: #5bc2a8;
  }
}

.add-task-dialog {
  .add-task-header {
    font-size: 14px;
    margin: 10px 24px;
    color: #7d68a3;
    margin-top: 30px;
  }
  .task-name {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .repeat-select {
    margin-top: 20px;
    font-size: 14px;
    width: 70%;
  }
  .due-date {
    font-size: 14px;
    width: 70%;
  }
  .dialog-actions {
    justify-content: center;
    .add-btn {
      color: #5bc2a8;
      letter-spacing: 1px;
    }
    .add-btn:disabled {
      color: #9499AD;
    }
  }
}

#task-filter {
  .menu-header {
    outline: none;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .menu-item {
    padding-bottom: 10px;
    padding-top: 10px;
    .check-icon {
      color: #5bc2a8;
      margin-right: 5px;
    }
  }
}
