.new-stack-dialog {
  width: 330px;
  overflow: auto;
  .new-stack-header {
    background-color: #F5F8FF;
    padding: 30px 40px;
    border-bottom: 1px solid #CDD4DE;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
    h3 {
      margin: 0px;
      color: #7d68a3;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }
  .new-stack-form {
    padding: 20px 40px;
    text-align: center;
    .upload-view {
      width: 120px;
      height: 120px;
      background-color: #EEF1F8;
      border: 1px solid #D7DEEE;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 2px;
      background-size: cover;
      background-position: center;
      cursor: pointer;
      .camera-icon {
        height: 70px;
        width: 70px;
        color: #D7DEEE;
      }
    }
    p.label {
      font-size: 12px;
      margin-top: 0px;
      text-align: left;
    }
    .new-stack-btn {
      font-family: 'SF-Display-Thin', sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      margin-top: 20px;
      height: 45px;
      width: 150px;
      border-radius: 5px;
    }
    .helper-text {
      color: #ff1744;
      font-family: 'SF-Display-Light', sans-serif;
    }
    .logo-required {
      font-size: 12px;
      text-align: left;
      margin-bottom: 0px;
      color: #ff1744;
    }
  }
}
