.select-stack-dialog {
  width: 330px;
  overflow: auto;
  .select-stack-header {
    background-color: #F5F8FF;
    padding: 30px 40px;
    border-bottom: 1px solid #CDD4DE;
    border-radius: 5px 5px 0 0;
    padding-bottom: 10px;
    h3 {
      margin: 0px;
      color: #7d68a3;
    }
    p {
      font-size: 12px;
      margin: 0;
    }
  }
  .select-stack-form {
    padding: 20px 40px;
    text-align: center;
    .select-wrapper {
      width: 100%;
      margin-top: 15px;
      display: inline-flex;
      flex-direction: column;
      text-align: left;
      .select-field {
        .Select-control {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
          border-radius: 0px;
          box-shadow: none;
          .Select-placeholder {
            padding: 0;
            color: #757575;
          }
          .Select-input {
            padding: 0;
          }
          .Select-value {
            padding-left: 0px;
          }
        }
        .Select-control:hover {
          border-bottom: 2px solid #7d68a3;
        }
        .Select-menu-outer {
          border-radius: 0px;
        }
      }
      .select-label {
        font-size: 12px;
        color: #757575;
        margin: 0px;
      }
      .option {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        .option-img {
          width: 25px;
          height: 25px;
          background-size: cover;
          margin-right: 5px;
        }
      }
      .option:hover {
        background-color: #F5F8FF;
      }
    }

    .select-stack-btn {
      font-family: 'SF-Display-Thin', sans-serif;
      font-size: 12px;
      letter-spacing: 1px;
      margin-top: 20px;
      height: 45px;
      width: 150px;
      border-radius: 5px;
    }
    .stack-required {
      font-size: 12px;
      text-align: left;
      margin-bottom: 0px;
      color: #ff1744;
    }
  }
}
