.tech-card {
  width: 120px;
  position: relative;
  margin: 20px auto;
  text-align: center;
  padding: 5px;
  p {
    margin: 5px;
    margin-top: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: -10px;
    margin-right: -10px;
  }
  .tech-image {
    width: 75px;
    height: 75px;
    background-size: cover;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
  }
  .card-actions {
    height: 20px;
    text-align: right;
    justify-content: flex-end;
    margin-top: -15px;
    .icon-btn {
      width: 35px;
      height: 35px;
      color: #9499AD;
    }
  }
  .expand {
    transform: rotate(0deg);
    transition: transform .1s;
  }
  .expandOpen {
    transform: rotate(180deg);
  }
  .card-content {
    border-top: 1px solid #9499AD;
    padding-top: 35px;
    .actions-content {
      margin: -20px;
      .action {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        p {
          font-size: 12px;
          color: #9499AD;
          margin: 5px;
        }
        .checkbox {
          color: #5bc2a8;
          height: 30px;
          width: 30px;
          margin-right: 10px;
          svg {
            width: 16px;
            height: 16px;
          }
        }
        .delete-btn {
          height: 30px;
          width: 30px;
          margin-right: 10px;
          .delete-icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
