.root-forgot-pswd {
  height: 100vh;
  .right-side {
    position: relative;
    .devider-right {
      border-bottom: 1px solid #d7deee;
      position: absolute;
      left: 40px;
      right: 40px;
      top: 70px;
    }
    .sign-up-btn {
      position: absolute;
      right: 40px;
      top: 15px;
      color: #5BC2A8;
      font-size: 18px;
    }
    .sign-up-btn:hover {
      background-color: inherit;
    }
    .form-container {
      height: calc(100% - 70px);
      justify-content: center;
      align-items: center;
      overflow: auto;
      margin-top: 70px;
      h1 {
        color: #353B53;
        font-size: 28px;
      }
      .tip {
        color: #8991A8;
      }
      .form-content {
        text-align: center;
        max-height: calc(100vh - 30px);
        .sign-in-btn {
          width: 260px;
          height: 65px;
          margin-top: 20px;
        }
      }
    }
  }
}
