#add-document {
  min-width: 430px;
  .content {
    .header {
      color: #7D68A3;
      margin: 0;
      font-size: 18px;
      margin-bottom: 15px;
    }
    .add-doc-zone {
      display: flex;
      justify-content: center;
      .add-doc {
        display: inline-flex;
        align-items: center;
        color: #5cc1a7;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .progress-bar-view {
      display: flex;
      max-width: 80%;
      margin: auto;
      .extention {
        margin-top: 6px;
        margin-right: 10px;
        svg {
          width: 25px;
          height: 25px;
          color: #999999;
        }
      }
      .progress-wrap {
        width: 100%;
        .progress-bar {
          border-radius: 5px;
          height: 4px;
        }
        .file-name-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          max-width: 395px;
          .file-name {
            font-size: 14px;
            margin: 5px 0px;
            display: flex;
            .name {
              display: inline-block;
              word-break: break-all;
              margin-right: 10px;
            }
            .size {
              color: #9399b0;
              white-space: nowrap;
            }
          }
          .cancel-icon {
            color: #999999;
            height: 20px;
            width: 20px;
            cursor: pointer;
          }
        }
        .progress {
          font-size: 13px;
          color: #999999;
          margin: 5px 0;
        }
        .progress.failed {
          color: #FC3640;
        }
        .progress.success {
          color: #5bc1a8;
        }
      }
    }
    .text-field {
      font-size: 14px;
      margin-bottom: 10px;
    }
    .search-view {
      margin-top: 16px;
    }
    .add-tags-tip {
      font-size: 14px;
      cursor: pointer;
    }
    .select-wrapper {
      width: 100%;
      margin-top: 15px;
      display: inline-flex;
      flex-direction: column;
      .select-field {
        .Select-control {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
          border-radius: 0px;
          box-shadow: none;
          .Select-placeholder {
            padding: 0;
            color: #757575;
            font-size: 14px;
          }
          .Select-value {
            font-size: 14px;
            padding-left: 1px;
          }
          .Select-input {
            padding: 0;
            font-size: 14px;
          }
        }
        .Select-control:hover {
          border-bottom: 2px solid #7d68a3;
        }
        .Select-menu-outer {
          border-radius: 0px;
        }
        .Select-menu-outer {
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          font-size: 14px;
        }
      }
      .select-label {
        font-size: 11px;
        color: #757575;
        margin: 0px;
      }
    }
    .tags-view {
      position: relative;
      margin-top: 14px;
      margin-bottom: 10px;
      .tag-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        .close-icon {
          color: #9499AD;
          cursor: pointer;
        }
        .check-icon {
          color: #5cc1a7;
          cursor: pointer;
          margin-right: 10px;
        }
      }
      .tag-input {
        margin-top: 0px;
        width: 100%;
        outline: none;
        .Select-control {
          border-color: #5cc1a7;
          border-radius: 3px;
          box-shadow: none;
          padding: 5px;
          padding-right: 50px;
          padding-top: 3px;
          word-wrap: break-word;
          .Select-placeholder {
            margin-top: 5px;
            margin-left: 5px;
            color: #9399b0;
            font-size: 14px;
          }
          .Select-value {
            background-color: #EEF2F5;
            border: none;
            border-radius: 3px;
            color: #9399b0;
            font-size: 14px;
            padding: 2px 5px;
            .Select-value-icon {
              float: right;
              border: none;
              line-height: 20px;
              font-size: 18px;
            }
            .Select-value-icon:hover {
              color: #5cc1a7;
              background-color: inherit;
            }
          }
        }
        .Select-menu-outer {
          top: auto;
          bottom: 100%;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: none;
          font-size: 14px;
        }
      }
    }
    .tag-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 9px;
      margin-bottom: 10px;
      .tag {
        background-color: #EEF2F5;
        padding: 0px 15px;
        margin: 5px;
        margin-left: 0px;
        display: inline-block;
        font-size: 14px;
        border-radius: 3px;
        color: #9399b0;
        line-height: 22px;
      }
      .pencil {
        margin: 0 10px;
        cursor: pointer;
        color: #7d68a3;
      }
    }
    .tag-list.empty {
      background: #e0e0e0;
      .pencil {
        display: inline-block;
      }
    }
  }
}
.dialog-actions {
  display: flex;
  justify-content: flex-end;
  min-height: 50px;
  align-items: flex-end;
  .upload-btn {
    height: 50px;
    color: #fff;
    width: 150px;
    font-size: 14px;
  }
  .cancel-upload-btn {
    height: 50px;
    width: 150px;
    font-size: 14px;
  }
}
