#client-basic-info {
  text-align: center;
  padding: 25px;
  box-sizing: border-box;
  width: 800px;
  margin: auto;
  .please-wait {
    text-align: center;
  }
  .client-name {
    margin-bottom: 0;
    color: #7d68a3;
  }
  .client-comany {
    margin-top: 8px;
    margin-bottom: 25px;
  }
  .avatar {
    div {
      font-family: 'SF-Display-Light', sans-serif !important;
    }
  }
  .add-tags-tip {
    font-size: 14px;
    cursor: pointer;
  }
  .tags-view {
    position: relative;
    .tag-actions {
      position: absolute;
      top: 10px;
      right: 10px;
      .close-icon {
        color: #9499AD;
        cursor: pointer;
      }
      .check-icon {
        color: #5cc1a7;
        cursor: pointer;
        margin-right: 10px;
      }
    }
    .tag-input {
      margin-top: 20px;
      width: 100%;
      outline: none;
      .Select-control {
        border-color: #5cc1a7;
        border-radius: 3px;
        box-shadow: none;
        padding: 5px;
        padding-right: 50px;
        padding-top: 3px;
        word-wrap: break-word;
        .Select-placeholder {
          margin-top: 5px;
          color: #9399b0;
          font-size: 14px;
        }
        .Select-value {
          background-color: #EEF2F5;
          border: none;
          border-radius: 3px;
          color: #9399b0;
          font-size: 14px;
          padding: 2px 5px;
          .Select-value-icon {
            float: right;
            border: none;
            line-height: 20px;
            font-size: 18px;
          }
          .Select-value-icon:hover {
            color: #5cc1a7;
            background-color: inherit;
          }
        }
      }
      .Select-menu-outer {
        top: auto;
        bottom: 100%;
        border-radius: 2px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        border-bottom: none;
        font-size: 14px;
      }
    }
  }
  .tag-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
    .tag {
      background-color: #EEF2F5;
      padding: 0px 15px;
      margin: 5px;
      display: inline-block;
      font-size: 14px;
      border-radius: 3px;
      color: #9399b0;
      line-height: 22px;
    }
    .pencil {
      margin: 0 10px;
      cursor: pointer;
      color: #7d68a3;
    }
  }
  .tag-list.empty {
    background: #e0e0e0;
    .pencil {
      display: inline-block;
    }
  }
  .table-view {
    display: flex;
    justify-content: space-between;
    .info-table {
      margin: 10px;
      max-width: 50%;
      td:first-child {
        color: #9499AD;
        padding-right: 20px;
      }
      td {
        padding: 5px;
        font-size: 14px;
        text-align: left;
      }
    }
  }
}
