#client-basic-info-mobile {
  margin: 15px;
  .client-card {
    background-color: #fff;
    width: 100%;
    padding: 5px;
    padding-top: 0;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 0px rgba(193, 198, 209, 0.35);
    border-radius: 5px;
    margin-bottom: 10px;
    .info-view {
      display: flex;
      align-items: center;
      .avatar-view {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 10px;
        margin-top: 15px;
        overflow: hidden;
        .avatar {
          div {
            font-family: 'SF-Display-Light', sans-serif !important;
          }
        }
      }
      .client-info {
        flex: 1;
        padding: 5px;
        padding-top: 0px;
        .name-block {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin-top: 3px;
            margin-bottom: 5px;
            font-weight: 600;
            font-size: 16px;
            color: #343b51;
          }
          .expand {
            transform: rotate(0deg);
            transition: transform .1s;
            width: 35px;
            height: 35px;
            align-self: flex-start;
          }
          .expandOpen {
            transform: rotate(180deg);
            color: #5bc2a8;
          }
        }
        .client-date {
          font-size: 14px;
          color: #999999;
        }
      }
    }
    .collapsed-view {
      display: flex;
      .info-table {
        color: #999999;
        font-size: 14px;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        table-layout: fixed;
        td:first-child {
          .icon {
            margin-right: 15px;
            margin-top: -2px;
          }
        }
        td {
          padding: 5px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    .add-tags-tip {
      font-size: 14px;
      cursor: pointer;
    }
    .tags-view {
      position: relative;
      .tag-actions {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1000;
        .close-icon {
          color: #9499AD;
          cursor: pointer;
        }
        .check-icon {
          color: #5cc1a7;
          cursor: pointer;
          margin-right: 10px;
        }
      }
      .tag-input {
        margin-top: 20px;
        width: 100%;
        outline: none;
        .Select-control {
          border-color: #5cc1a7;
          border-radius: 3px;
          box-shadow: none;
          padding: 5px;
          padding-right: 50px;
          padding-top: 3px;
          z-index: 1000;
          .Select-placeholder {
            margin-top: 5px;
            margin-left: 10px;
            color: #9399b0;
            font-size: 14px;
          }
          .Select-value {
            background-color: #EEF2F5;
            border: none;
            border-radius: 3px;
            color: #9399b0;
            font-size: 14px;
            padding: 2px 5px;
            .Select-value-icon {
              float: right;
              border: none;
              line-height: 20px;
              font-size: 18px;
            }
            .Select-value-icon:hover {
              color: #5cc1a7;
              background-color: inherit;
            }
          }
        }
        .Select-menu-outer {
          top: auto;
          bottom: 100%;
          border-radius: 2px;
          border: 1px solid rgba(0, 0, 0, 0.12);
          border-bottom: none;
          font-size: 14px;
        }
      }
    }
    .tag-list {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 15px;
      flex-wrap: wrap;
      margin-bottom: 5px;
      .tag {
        background-color: #EEF2F5;
        padding: 0px 15px;
        margin: 5px;
        display: inline-block;
        font-size: 14px;
        border-radius: 3px;
        color: #9399b0;
        line-height: 22px;
      }
      .pencil {
        margin: 0 10px;
        cursor: pointer;
        color: #7d68a3;
      }
    }
    .tag-list.empty {
      background: #e0e0e0;
      .pencil {
        display: inline-block;
      }
    }
  }
}
