#client-documents {
  .documents-tabs {
    min-height: 40px;
    .tab {
      min-width: auto;
      height: 40px;
      span {
        font-size: 12px;
      }
    }
  }
  .documents-toolbar {
    margin: 0 15px;
    .add-doc {
      display: inline-flex;
      align-items: center;
      color: #5cc1a7;
      font-size: 14px;
      cursor: pointer;
    }
  }
  .documents-table {
    margin: 0 15px;
  }
  .doc-icon {
    font-size: 20px;
    color: #999999;
  }
}
