#client-notes-mobile {
  overflow: auto;
  .new-note-view {
    width: 100%;
    height: 70px;
    box-shadow: 0px -5px 20px -5px rgba(116, 116, 116, .25);
    position: fixed;
    bottom: 0px;
    display: flex;
    overflow: hidden;
    .note-input {
      height: 100%;
      width: 100%;
      textarea {
        resize: none;
        width: 100%;
        font-size: 14px;
        height: 100%;
        box-sizing: border-box;
        padding: 25px;
        outline: none;
        border: none;
        font-family: 'SF-Display-Light', sans-serif;
      }
      textarea::placeholder {
        color: #9499AD;
        font-family: 'SF-Display-Thin', sans-serif;
      }
      textarea:disabled {
        cursor: not-allowed;
      }
    }
    .save-note-btn {
      min-width: 105px;
      font-size: 14px;
    }
  }
  .notes-view {
    padding: 15px;
    padding-bottom: 0px;
    height: calc(100vh - 165px);
    max-width: 800px;
    padding-top: 0px;
    h3 {
      margin: 0;
      margin-bottom: 10px;
    }
    .filters {
      display: flex;
      justify-content: space-between;
      .form-control {
        margin-top: 10px;
        margin-bottom: 20px;
        .select {
          min-width: 120px;
          font-size: 13px;
        }
        label {
          font-size: 13px;
        }
      }
    }
    .note {
      font-size: 14px;
      background-color: #fff;
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      box-shadow: 1px 1px 20px 0px rgba(193, 198, 209, 0.35);
      border-radius: 5px;
      margin-bottom: 10px;
      .note-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        font-size: 14px;
        .time {
          font-size: 14px;
          color: #9499AD;
          svg {
            margin-right: 5px;
            margin-top: -3px;
          }
        }
        .actions {
          min-width: 60px;
          .action-btn {
            height: 40px;
            width: 40px;
            color: #8b95ad;
            svg {
              height: 22px;
              width: 22px;
            }
          }
        }
      }
      .note-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        margin-top: 5px;
        .note-text {
          margin-top: 0px;
          margin-bottom: 0px;
          color: #6d7182;
          font-family: 'SF-Display-Regular', sans-serif;
        }
      }
      .editable-view {
        .edit-textarea {
          width: 100%;
          font-size: 14px;
          margin-top: 0px;
          font-family: 'SF-Display-Regular', sans-serif;
        }
        .edit-actions {
          display: flex;
          justify-content: flex-end;
          margin-bottom: -5px;
          button {
            min-width: auto;
            color: #5bc2a8;
            letter-spacing: 1px;
            font-size: 14px;
            padding: 10px;
          }
          button:disabled {
            color: #999999;
          }
        }
      }
    }
  }
}
