#client-notes {
  overflow: auto;
  .new-note-view {
    width: 100%;
    height: 70px;
    box-shadow: 0px -5px 20px -5px rgba(116, 116, 116, .25);
    position: absolute;
    bottom: 0px;
    display: flex;
    overflow: hidden;
    .note-input {
      height: 100%;
      width: 100%;
      textarea {
        resize: none;
        width: 100%;
        font-size: 16px;
        height: 100%;
        box-sizing: border-box;
        padding: 25px;
        outline: none;
        border: none;
        font-family: 'SF-Display-Thin', sans-serif;
      }
      textarea::placeholder {
        color: #9499AD;
        font-family: 'SF-Display-Thin', sans-serif;
      }
      textarea:disabled {
        cursor: not-allowed;
      }
    }
    .save-note-btn {
      min-width: 200px;
    }
  }
  .notes-view {
    padding: 25px;
    height: calc(100vh - 310px);
    max-width: 800px;
    padding-top: 0px;
    h3 {
      margin: 0;
      margin-bottom: 10px;
    }
    .filters {
      display: flex;
      .form-control {
        margin-top: 10px;
        margin-right: 40px;
        margin-bottom: 20px;
        .select {
          min-width: 120px;
          font-size: 13px;
        }
        label {
          font-size: 13px;
        }
      }
    }
    .note {
      font-size: 14px;
      margin-bottom: 20px;
      .note-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 5px;
        font-size: 14px;
        .time {
          font-size: 14px;
          color: #9499AD;
          svg {
            margin-right: 5px;
            margin-top: -3px;
          }
        }
      }
      .note-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        .actions {
          min-width: 60px;
          .action-btn {
            height: 30px;
            width: 30px;
            color: #8b95ad;
            svg {
              height: 20px;
              width: 20px;
            }
          }
        }
        .note-text {
          margin-top: 0px;
          margin-bottom: 0px;
          color: #6d7182;
        }
      }
      .editable-view {
        .edit-textarea {
          width: calc(100% - 80px);
          font-size: 14px;
          margin-top: 0px;
        }
        .edit-actions {
          display: flex;
          justify-content: flex-start;
          margin-bottom: 20px;
          .save-btn {
            background-color:  #5bc2a8;
            margin-left: 20px;
            color: #fff;
          }
          button {
            letter-spacing: 2px;
            width: 100px;
          }
        }
      }
    }
  }
}
