#create-engagement-container {
  padding: 40px;
  padding-bottom: 100px;
  h4 {
    margin: 0;
    font-family: 'SF-Display-Thin', sans-serif;
  }
  #basic-information-view,
  #services-view,
  #techstack-view {
    margin-right: 40px;
    background-color: #fff;
    border-radius: 5px;
    height: 55vh;
    box-shadow: 0 5px 35px rgba(116,116,116,.25);
    padding: 20px;
    margin-top: 30px;
    overflow: auto;
    .card-header {
      margin: 0;
      color: #7d68a3;
      font-family: 'SF-Display-Thin', sans-serif;
    }
    .additional-text {
      color: #9499AD;
      font-size: 12px;
      margin-top: 3px;
    }
    .select-wrapper {
      width: 100%;
      margin-top: 15px;
      display: inline-flex;
      flex-direction: column;
      .select-field {
        .Select-control {
          border: none;
          border-bottom: 1px solid rgba(0, 0, 0, 0.42);
          border-radius: 0px;
          box-shadow: none;
          .Select-placeholder {
            padding: 0;
            color: #757575;
          }
          .Select-input {
            padding: 0;
          }
        }
        .Select-control:hover {
          border-bottom: 2px solid #7d68a3;
        }
        .Select-menu-outer {
          border-radius: 0px;
        }
      }
      .select-label {
        font-size: 12px;
        color: #757575;
        margin: 0px;
      }
    }
  }
  #techstack-view {
    margin-right: 0px;
  }
  .bottom-block {
    position: absolute;
    left: 40px;
    right: 0;
    bottom: 0px;
    height: 75px;
    text-align: center;
    p {
      margin-top: 30px;
    }
    .save-btn {
      position: absolute;
      top: 0px;
      right: 0px;
      height: 100%;
      text-transform: capitalize;
      letter-spacing: 1px;
      font-family: 'SF-Display-Thin', sans-serif;
      width: 220px;
    }
    @media (max-width: 599px) {
      .save-btn {
        font-size: 14px;
        height: 45px;
        width: 160px;
      }
    }
  }
  @media (max-width: 959px) {
    #basic-information-view,
    #services-view,
    #techstack-view {
      margin-right: 0;
    }
  }
  @media (max-width: 1150px) {
    .bottom-block {
      //text-align: left;
      p {
        font-size: 12px;
        padding-right: 225px;
      }
    }
  }
}
