.sign-left-side {
  background-image: url('../../static/images/signinbackground.jpg');
  background-size: cover;
  position: relative;
  .dark-mask {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    .quote {
      color: #fff;
      font-family: 'SF-Display-Thin', sans-serif;
      padding: 10px;
      margin-top: 0;
      margin-bottom: 15px;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 35px;
    }
    .quote-by-cpa {
      color: #fff;
      padding: 0 25px;
      text-align: right;
      font-family: 'SF-Display-Thin', sans-serif;
      margin-bottom: 90px;
      font-style: italic;
    }
    .logo {
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
}
