#custom-table {
  font-family: 'SF-Display-Regular', sans-serif;
  border-collapse: unset;
  table-layout: fixed;
  #table-head {
    .row {
      height: 45px;
      .col {
        font-size: 12px;
        color: rgba(0,0,0,0.5);
        padding: 5px;
        overflow: hidden;
      }
      .col.numeric {
        text-align: right;
        padding-right: 2%;
      }
      .actions-col {
        width: 5px;
      }
    }
  }
  tbody {
    tr {
      height: 35px;
      font-size: 13px;
      td {
        padding: 5px;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(0,0,0,0.65);
      }
      td:first-child {
        color: rgba(0,0,0,0.87);
      }
      td.actions-cell {
        text-align: center;
      }
      td.numeric {
        text-align: right;
        padding-right: calc(2% + 23px);
      }
    }
    tr:nth-child(odd) {
      background-color: #F3F4F8;
    }
  }
}

#table-action-menu {
  .menu-item {
    font-size: 13px;
    font-family: 'SF-Display-Regular', sans-serif;
    color: rgba(0,0,0,0.87);
    width: 150px;
    height: auto;
    .action-icon, svg {
      width: 18px;
      height: 18px;
      margin-right: 10px;
      color: rgba(0,0,0,0.5);
    }
    div {
      display: inherit;
    }
  }
  .menu-item:focus {
    background-color: transparent;
  }
  .menu-item:hover {
    background-color: #F3F4F8;
  }
}

.table-tooltip {
  div {
    font-size: 13px;
  }
  div:first-child {
    margin-top: 8px;
    padding: 3px 10px;
    p {
      margin: 0;
      color: rgba(0,0,0,0.87);
      font-family: 'SF-Display-Regular', sans-serif;
    }
  }
}
