#thanks.form-content {
  text-align: center;
  max-height: calc(100vh - 30px);
  h1 {
    font-family: 'SF-Display-Thin', sans-serif;
    color: #353B53;
    font-size: 28px;
  }
  .tip {
    color: #8991A8;
  }
  .done {
    width: 80px;
    height: 80px;
    border: 1px solid #5BC2A8;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .done-icon {
      color: #5BC2A8;
      height: 50px;
      width: 50px;
    }
  }
}
