#create-client-invite-step {
  padding-left: 20px;
  .header {
    color: #7D6AA1;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .input {
    width: 245px;
    margin-right: 35px;
  }
}
