#create-client-manualy-step {
  padding-left: 20px;
  .header {
    color: #7D6AA1;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .input {
    width: 245px;
    margin-right: 35px;
    margin-top: 16px;
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .address {
    width: 525px;
  }
  .add-more-info {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-bottom: -20px;
    p {
      color: #65677B;
      cursor: pointer;
      margin: 0;
    }
    .expand {
      transform: rotate(0deg);
      transition: transform .1s;
      width: 35px;
      height: 35px;
    }
    .expandOpen {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 959px) {
    padding-left: 0px;
    .input {
      width: 100%;
      margin-right: 0px;
      margin-top: 16px;
    }
    .input.state {
      margin-top: 16px;
    }
    .add-more-info {
      p {
        color: #7D6AA1;
      }
      .expand {
        color: #7D6AA1;
      }
    }
  }
}
