#create-client-dialog {
  .dialog-content {
    background-color: #F7F8FA;
    padding-bottom: 0;
    min-width: calc(75vw - 80px);
    overflow-x: hidden;
    height: 55vh;
    position: relative;
    min-height: 150px;
    .content-card {
      background: #fff;
      padding: 20px;
      border-radius: 5px;
      margin: 20px;
      box-shadow: 0 0px 20px 0px rgba(116, 116, 116, 0.25);
      max-height: calc(100% - 80px);
      height: calc(100% - 80px);
      min-height: 110px;
      overflow: auto;
      position: relative;
    }
  }
  p.dialog-header {
    margin: 20px 45px;
    color: #7D6AA1;
    font-size: 18px;
  }
  .horizontal-tabs {
    margin: 0 45px;
    min-height: 48px;
    .tab {
      min-width: auto;
    }
  }
  .dialog-actions {
    background-color: #F7F8FA;
    display: flex;
    justify-content: flex-end;
    border-radius: 5px;
    min-height: 70px;
    div {
      display: flex;
    }
    .save-service-btn {
      height: 70px;
      width: 230px;
      border-radius: 0px 0px 3px;
    }
    .cancel-btn {
      font-size: 18px;
      width: 180px;
      height: 70px;
    }
  }
}

#create-client-dialog-mobile {
  .app-bar {
    background-color: #7D68A3;
    .toolbar {
      max-height: 56px;
      min-height: 56px;
      justify-content: space-between;
      .dialog-header {
        flex: 1;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .save-client-btn {
        font-family: 'SF-Display-Thin', sans-serif;
        color: #fff;
        letter-spacing: 1px;
      }
      .save-client-btn:disabled {
        opacity: 0.4;
      }
    }
  }
  .content-card {
    margin-top: 70px;
  }
}
