#services-view {
  .services-wrap {
    overflow: auto;
    height: calc(100% - 120px);
    .service-item-wrap {
      display: flex;
      margin-top: 20px;
      .check-icon {
        color: #5bc2a8;
        margin-top: 15px;
        margin-right: 10px;
      }
      .service-item {
        p {
          margin-bottom: 5px;
        }
        .billing-text {
          font-size: 14px;
          color: #9499AD;
          margin-top: 0;
          .price {
            color: initial;
          }
        }
        .action {
          font-size: 14px;
          color: #9499ad;
          text-decoration: underline;
          cursor: pointer;
          .action-icon {
            margin-right: 5px;
          }
        }
        .action:hover {
          color: #7d68a3;
        }
      }
    }
  }
}
