.search-view {
  margin: 0px;
  .search-icon {
    position: absolute;
    color: #757575;
    bottom: 6px;
    width: 18px;
    height: 18px;
  }
  #search {
    padding-left: 20px;
    width: calc(100% - 20px);
  }
}
